{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
<footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Saree & Stitch offers a wide collection of traditional sarees, lehengas, and stitched outfits, blending timeless elegance with modern style. Perfect for any occasion, our curated pieces promise to enhance your wardrobe with exquisite craftsmanship and attention to detail.</p>
            </div>
            <div class="footer-section">
               <h3>Quick Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Products</a></li>
                    <li><a href="/bidding">Bidding</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Follow Us On</h3>
                <div class="social-icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
        <p class="footer-bottom">© 2025 Saree & Stitch. All Rights Reserved.</p>
    </footer>
{% endblock %}