{% load static %}


    <link rel="stylesheet" href="{% static 'css/login.css' %} ">

    <div class="container">
        <div class="logo-container">
            <img src="{% static 'images/finallogo.png' %}" alt="saree& stitch logo">
        </div>
        <div class="form-wrapper">
            <div class="form-container">
                <h1>LOGIN</h1>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}

                    {{ form.username.label_tag }}
                    {{ form.username }}

                    {{ form.password.label_tag }}
                    {{ form.password }}

                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}

                    <a href="{% url 'forgotpassword' %}" class="forgotpassword">Forgot Password?</a>
                    <button type="submit">Login</button>
                </form>
                <p>Do not have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
